body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background: #0d1117;
  color: #c9d1d9;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  max-width: 600px;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.comment {
  color: #8b949e;
  font-size: 14px;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 40px;
  color: #58a6ff;
  margin: 0;
}

.hero h2 {
  font-size: 22px;
  margin: 5px 0 15px;
}

.description {
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 20px;
}

/* SOCIAL ICONS */
.social-icons a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border-radius: 8px;
  background: #161b22;
  color: #c9d1d9;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #58a6ff;
  color: black;
  transform: translateY(-3px);
}

/* SKILLS */
.skills {
  text-align: center;
  padding: 20px 20px;
}

.skills h2 {
  color: #58a6ff;
  margin-bottom: 20px;
}

.skill-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.skill-container span {
  background: #161b22;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid #30363d;
  transition: 0.3s;
}

.skill-container span:hover {
  background: #58a6ff;
  color: black;
  transform: scale(1.1);
  box-shadow: 0 0 10px #58a6ff;
}

/* CONNECT */
.connect {
  text-align: center;
  padding-bottom: 20px;
}

.connect h2 {
  color: #58a6ff;
  margin-bottom: 20px;
}

.buttons a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #161b22;
  color: #c9d1d9;
  text-decoration: none;
  border: 1px solid #30363d;
  transition: 0.3s;
}

.buttons a:hover {
  background: #58a6ff;
  color: black;
  box-shadow: 0 0 10px #58a6ff;
}
